<nav>
	<ul class="nav nav-pills nav-justified">
		
		<li role="presentation">
			<a href="#candidates" role="tab" data-toggle="tab" class="main-font-semi-bold">Анкеты соискателей</a>
		</li>
		
		<li role="presentation">
			<a href="#vacancies" role="tab" data-toggle="tab" class="main-font-semi-bold">Заявки судовладельцев</a>
		</li>
		
		<li role="presentation">
			<a href="#reviews" role="tab" data-toggle="tab" class="main-font-semi-bold">Отзывы</a>
		</li>
	
	</ul>
</nav>
<hr>
<div ng-view></div>